[submodule "submodule/jenkins-csbilling"]
	path = submodule/jenkins-csbilling
	url = https://github.com/cs-pedro-azevedo/jenkins-csbilling.git 
#	url = git@github.com:cs-pedro-azevedo/jenkins-csbilling.git
